# Build artifacts
build/
build-*/
staging/
appletmp/
windowstmp/

# CMake & Cache
.cache/
_deps/
*.ilk
*.pdb
CMakeUserPresets.json

# IDE & OS
.vs/
.vscode/
.idea/
*.user
.DS_Store
Thumbs.db

# References
reference/
